version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: logitrack-mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
      MONGO_INITDB_DATABASE: logitrack
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7.2-alpine
    container_name: logitrack-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes

volumes:
  mongo-data:
  redis-data:
